<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <title>Bluedot Nav bar</title>
    <script src="https://kit.fontawesome.com/6add59f0c7.js" crossorigin="anonymous"></script>
    <script src="main.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fab fa-bootstrap"></i>
            <a href="">Bluedot</a>
        </div>

        <ul class="navbar_menu">
            <li><a href="">홈</a></li>
            <li><a href="">닷비디오</a></li>
            <li><a href="">팔로우</a></li>
        </ul>

        <ul class="navbar_icons">
            <li><i class="fas fa-search"></i></li>
            <li><i class="fas fa-sign-in-alt"></i></li>
        </ul>

        <a href="#" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
</body>
</html>

