<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Youtube mobile</title>
    <script src="https://kit.fontawesome.com/6add59f0c7.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <i class="fab fa-youtube"></i>
            <span class="title">Youtube</span>
        </div>
        <div class="icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-ellipsis-v"></i>
        </div>
    </header>

    <!-- Video Player-->
    <section class="player">
        <video controls autoplay src="video/motionplaces0042-c008-q001.mp4"></video>
    </section>

    <div class="infoAndUpNext">
        <!-- Video Info -->
    <section class="info">
        <!-- Metadata-->
        <div class="metadata">
            <ul class="hashtags">
                <li>#Bluedot</li>
                <li>#King</li>
                <li>#Loosie</li>
            </ul>
            <div class="titleAndButton">
                <span class="title">
                    [playlist] 너만 보면 내 마음은 눈처럼 사르르 녹아없어질 것만 같아 
                    | 감성 R&B, 아무도 모르는 노래, LP 음악, 인디 팝, 겨울 밤, 첫눈
                    | 너와 맞이하는 첫 크리스마스 설렘 가득 마치 설레임 아이스크림 바닐라맛
                    | Listen... Listen... I can't listen!!
                </span>
                <button class="moreBtn">
                    <i class="fas fa-caret-down"></i>
                </button>
            </div>
            <span class="views">1M views 1 months ago</span>
        </div>
        <ul class="actions">
            <li>
                <button><i class="active fas fa-thumbs-up"></i><span>1K</span></button>
            </li>
            <li>
                <button><i class="fas fa-thumbs-down"></i><span>0</span></button>
            </li>
            <li>
                <button><i class="fas fa-share"></i><span>Share</span></button>
            </li>
            <li>
                <button><i class="fas fa-plus"></i><span>Save</span></button>
            </li>
            <li>
                <button><i class="fab fa-font-awesome-flag"></i><span>Report</span></button>
            </li>
        </ul>
        <!-- Channel Description -->
        <div class="channel">
            <div class="metadata">
                <img src="image/logo.png" alt="" />
                <div class="info">
                    <span class="name">블루닷 Bluedot</span>
                    <span class="subscribers">1M subscribers</span>
                </div>
            </div> 
            <button class="subscribe">subscribe</button>
        </div>
    </section>
    <section class="upNext">
        <span class="title">Up next</span>
        <ul>
            <li class="item">
                <div class="img"><img src="image/3.png" alt=""/></div>
                <div class="c_info">
                    <span class="title">[playlist] 답답한 마음을 뻥 뚫리게 하는 플레이리스트 
                        | Hiphop, Jazz, R&B, 신나는 노래, 나만 알고싶은 노래
                        | 2020 부셔버리기
                    </span>
                    <span class="name">블루닷 Bluedot</span>
                    <span class="views">92K views</span>
                </div>
                <button class="moreBtn"><i class="fas fa-ellipsis-v"></i></button>
            </li>
            <li class="item">
                <div class="img"><img src="image/2.png" alt="" /></div>
                <div class="c_info">
                    <span class="title">[playlist] 아침에 일어나서 듣기 좋은 플레이리스트
                        | Pop, R&B, 감성 음악
                        | Wake up in the morning
                    </span>
                    <span class="name">블루닷 Bluedot</span>
                    <span class="views">102K views</span>
                </div>
                <button class="moreBtn"><i class="fas fa-ellipsis-v"></i></button>
            </li>
            <li class="item">
                <div class="img"><img src="image/3.png" alt=""/></div>
                <div class="c_info">
                    <span class="title">[playlist] 세상 그 누구보다 내가 제일 특별해지는 노래
                        | 인디음악, Jazz, Pop, R&B soul, 힙한 음악
                        | Make your own stuff
                    </span>
                    <span class="name">블루닷 Bluedot</span>
                    <span class="views">120K views</span>
                </div>
                <button class="moreBtn"><i class="fas fa-ellipsis-v"></i></button>
            </li>
        </ul>
    </section>

    </div>
    
</body>
</html>